
    .table{
 justify-content: center;
    display: flex;
    margin: 36px 0;
}

 table{
            width:40%;
            margin:auto;
            border-collapse:collapse;
            text-align:center;
        }
table,th,td{
    border: 2px solid black;
}
th{
    
    padding: 12px;
}
td{
    padding: 10px;
}


h2{
    margin-top: 24px;
    color: rgb(99, 16, 177);
    font-weight: bolder;
}


.querry-container{
            width: 100%;
        height:auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 24px;
        }
        input{
               width: 250px;
            padding: 8px 16px;
            outline: none;
            border: none;
            border: 1px solid green;
        }
        button{
            font-size: 14px;
            font-weight: 400;
            padding: 8px 18px;
            border-radius: 8% ;
            border: none;
            
         
        }
        button:hover{
           background-color: chartreuse;
           border: 1px solid black;
        }
        .querry-text{
            margin-bottom: 42px;
        }
        
            form div{
               margin: 16px 0;
       }
       #text-message{
        height: 60px;
        outline: none;
        width: 240px;
        padding: 8px 12px;
        
       }
       .embaded-map{
        margin: 24px 0;
       }
       .map iframe{
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
       }
       .map{
        margin: 24px 0;
       }