
*{
    margin: 0;
     box-sizing: border-box;
}
    /* padding: 0; */

.nav{
    display: flex;
   justify-content: space-evenly;
   
}
.nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-top: 18px;
    font-family: "Roboto", sans-serif;
}
.nav a:hover{
    color: rgb(209, 13, 13);
    cursor: pointer;
    text-shadow: 5px 5px 16px rgb(255, 0, 222);
}
h1:hover{
    color: rgb(41, 238, 70);
}
header{
      background-color: #199d90;
    color: rgb(239, 238, 239);
    padding: 12px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
body{
    background-color: #e0dccc;
}